.container-perfil{
    background: #A0FFAA;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

.container-perfil img{
    margin-top: 3rem;
    border-radius: 100%;
    width: 15%;
    border: 3px solid #819083;
}

#changeEmail{
    padding-bottom: 3rem;
}