{% extends 'base.html' %}

{% block content %}

{% for objs in objetos %}
    {% if request.user.is_staff %}
    <div style="display: flex;">
        <h1>{{request.user.username}}</h1> 
        <p style="color: red; background-color: #A0FFAA; border-radius: 10px; font-weight: 700;" >Diretoria</p>
    </div>
        {% else %}
        <h1>{{request.user.username}}</h1>
    {% endif %}

    <p>Seu email: {{request.user.email}}</p>
    <img src="{{objs.profile.profile_image.url}}" alt="">

    <form method="post">
        <label for="email">Novo email: </label>
        <input type="email" name="novo_email" id="email">

    </form>
{% endfor %}

{% endblock %}