{% extends 'base.html' %}

{% block content %}

<form action="" method="post" class="form-group text-center mb-3">
    {% csrf_token %}
    <br>
    <br>
    <br>
    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="email" class="form-control" name="email" aria-describedby="basic-addon1">
    </div>

    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Senha</span>
        </div>
        <input type="password" class="form-control" name="senha" aria-describedby="basic-addon1">
    </div>

    <br>
    <button type="submit" class="btn btn-success" style="width: 30%;">Entrar</button>
</form>

{% endblock %}