{% extends 'base.html' %}

{% block content %}

<div class="container text-center container-perfil mb-3">
    {% for objs in objetos %}

        <img src="{{objs.profile.profile_image.url}}" alt="">
        
        {% if request.user.is_staff %}
        <div>
            <h1>{{request.user.username}}</h1> 
            <p style="color: red; background-color: #A0FFAA; border-radius: 10px; font-weight: 700;" >Diretoria</p>
        </div>
            {% else %}
            <h1>{{request.user.username}}</h1>
        {% endif %}

        <p>Seu email: {{request.user.email}}</p>

    
    {% endfor %}
</div>

{% endblock %}