{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}

<form  action="" method="post" class="form-group text-center mt-3" id="form-cadastro">
    {% csrf_token %}
    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        {{form.email}}
    </div>

    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Primeiro Nome</span>
        </div>
        {{form.first_name}}
    </div>

    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Sobrenome</span>
        </div>
        {{form.last_name}}
    </div>

    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Senha</span>
        </div>
        {{form.password1}}
        
    </div>
    
    <ul style="width: 50%; margin-left: auto; margin-right: auto;" class="text-start">
        <li>Sua senha não pode ser muito parecida com suas outras informações pessoais.</li>
        <li>Sua senha deve conter pelo menos 8 caracteres.</li>
        <li>Sua senha não pode ser uma senha comumente usada.</li>
        <li>Sua senha não pode ser totalmente numérica.</li>
    </ul>
    
    
    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Confirmação de senha</span>
        </div>
        {{form.password2}}
    </div>

    <br>
    <button type="submit" class="btn btn-success" style="width: 30%;">Entrar</button>
</form>
{% endblock %}