{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <p class="text-center">{{message}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}

<form action="" method="post" class="form-group text-center">
    {% csrf_token %}
    {{form}}
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}