{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}

<form action="" method="post" class="form-group text-center">
    {% csrf_token %}
    <h5>Titulo da Demanda</h5>
    <input type="text" name="titulo" required>
    <h5>Descrição da Demanda</h5>
    <textarea name="descricao" id="" cols="30" rows="10" required></textarea>

    <h5>Possui prazo de conclusão?</h5>
    <input onclick="informaData(1)" type="radio" id="sim" name="prazo" value="Sim">
    <label for="sim">Sim</label><br>
    <input class="text-center" style="display: none;" type="date" name="data" id="data">
    <input onclick="informaData(2)" type="radio" id="nao" name="prazo" value="Nao">
    <label for="nao">Não</label><br>
    <input id="doc" type="file" name="doc">
    <label for="doc">Documento(Opicional)</label>

    <button type="submit">Cadastrar</button>
</form>

<script>
    function informaData(id){
        if(id == 1){
            document.getElementById("data").style.display = 'block';
        }
        
        if(id == 2){
            document.getElementById("data").style.display = 'none';
        }
    }
</script>
{% endblock %}