{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}

<form action="" method="post" class="form-group text-center mb-3">
    {% csrf_token %}
    <br>

    <div style="width: 50%;" class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Título da Demanda/Documento</span>
        </div>
        <input type="text" class="form-control" name="titulo" aria-describedby="basic-addon1">
        </div>

        <br>
        <h5>Tipo</h5>

        <input type="radio" id="idDemanda" name="tipo" value="Demanda">
        <label for="idDemanda">Demanda</label><br>
        <input type="radio" id="idDoc" name="tipo" value="Documento">
        <label for="idDoc">Documento</label><br>

        <br>

        <div style="width: 50%;" class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Descrição</span>
            </div>
            <textarea class="form-control" name="descricao"></textarea>
        </div>

        <br>

    <h5>Possui prazo de conclusão?</h5>
    <input onclick="informaData(1)" type="radio" id="sim" name="prazo" value="Sim">
    <label for="sim">Sim</label><br>
    <input class="text-center" style="display: none;     margin-left: auto;
    margin-right: auto;" type="date" name="data" id="data">
    <input onclick="informaData(2)" type="radio" id="nao" name="prazo" value="Nao">
    <label for="nao">Não</label><br>

        <br>

    <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" name="doc">
        </div>
      </div>

      <br>

    <button type="submit" class="btn btn-success" style="width: 30%;">Cadastrar</button>
</form>

<script>
    function informaData(id){
        if(id == 1){
            document.getElementById("data").style.display = 'block';
        }
        
        if(id == 2){
            document.getElementById("data").style.display = 'none';
        }
    }
</script>
{% endblock %}