{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}

<form method="get">
    {% csrf_token %}
    <div class="input-group mt-5" style="width: 50%;">
            <input type="text" name="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" />
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </div>
</form>

<div class="container infra">
    <div class="row">
        <div class="col opcoes">
            <div id="ddos2" class="ddos2" onclick="change(1)">
                <a style="text-decoration: none;" href="/demandas"><h1 class="text-center">Demandas</h1></a>
            </div>

            <div id="rede2" class="rede2" onclick="change(2)">
                <a style="text-decoration: none;" href="/documentos"><h1 class="text-center">Documentos</h1></a>
            </div>
        </div>
    </div>
</div>
<div id="line"></div>

<div class="container text-center">
    {% for demanda in demandas %}
        {% if demanda.tipo == 'Documento' %}
            <div class="container container-demandas mb-3 mt-5">
                {% if request.user.is_staff %}
                    <form style="display: flex;
                    justify-content: flex-end; padding-top: 0.5rem;" action="deletar/{{demanda.tipo}}/{{demanda.id}}" method="post">
                        {%csrf_token%}
                        <button class="btn btn-danger">Excluir</button>
                    </form>
                    {% else %}
                    {% endif %}
                <h3 class="">{{demanda.titulo}}</h3>
                
                
                <p>{{demanda.descricao}}</p>
                <a href="{{demanda.documento.url}}" download="{{demanda.documento.url}}">
                    <button class="btn btn-success">Baixar documento</button>
                </a>
                <p>Criado por: {% for criador in demanda.criado_por.all %} {{criador}} {% endfor %} </p>
                {% if demanda.prazo %}
                    <p style="color: red; font-weight: 600;">Prazo: {{ demanda.prazo }}</p>
                {% endif %}
                {% if request.user.is_staff %}
                    {% if demanda.concluida == True %}
                    <div class="form-check" style="display: flex;
                    justify-content: flex-end;">
                        <input class="form-check-input" type="checkbox" value="" id="concluida" name="concluida" checked disabled>
                        <label class="form-check-label" for="concluida">
                            Concluída
                        </label>
                    </div>
                    {% else %}
                        <form action="demanda/{{demanda.id}}" id="checkConcluida" method="post" style="display: flex;
                        justify-content: flex-end;">
                            {% csrf_token %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="concluida" name="concluida" onclick="document.getElementById('checkConcluida').submit();">
                                <label class="form-check-label" for="concluida">
                                    Concluída
                                </label>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
            {% endif %}
        </div>
        {% else %}
        {% endif %}

        {% empty %}
            <h1 class="text-center">Nenhuma demanda cadastrada ainda.</h1>
    {% endfor %}

</div>

{% endblock %}