{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}

<form method="get">
    {% csrf_token %}
    <div class="input-group mt-5" style="width: 50%;">
            <input type="text" name="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" />
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </div>
</form>

<div class="container infra">
    <div class="row">
        <div class="col opcoes">
            <div id="ddos" class="ddos" onclick="change(1)">
                <h1 class="text-center">Demandas</h1>
            </div>

            <div id="rede" class="rede" onclick="change(2)">
                <h1 class="text-center">Documentos</h1>
            </div>
        </div>
    </div>
</div>
<div id="line"></div>

<div class="container text-center">
    {% for demanda in demandas %}
    <div class="container container-demandas mb-3">
        <h3 class="mt-5 pt-3">{{demanda.titulo}}</h3>
        <p>{{demanda.descricao}}</p>
        <p>Criado por: {% for criador in demanda.criado_por.all %} {{criador}} {% endfor %} </p>
        {% if demanda.prazo %}
            <p style="color: red; font-weight: 600;">Prazo: {{ demanda.prazo }}</p>
        {% endif %}
        {% if request.user.is_staff %}
            {% if demanda.concluida == True %}
            <div class="form-check" style="display: flex;
            justify-content: flex-end;">
                <input class="form-check-input" type="checkbox" value="" id="concluida" name="concluida" checked disabled>
                <label class="form-check-label" for="concluida">
                    Concluída
                </label>
            </div>
            {% else %}
                <form action="demanda/{{demanda.id}}" id="checkConcluida" method="post" style="display: flex;
                justify-content: flex-end;">
                    {% csrf_token %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="concluida" name="concluida" onclick="document.getElementById('checkConcluida').submit();">
                        <label class="form-check-label" for="concluida">
                            Concluída
                        </label>
                    </div>
                </form>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
    {% endfor %}

</div>

<script>
    function change(id){

        if(id == 1){
            document.getElementById('ddos').style.boxShadow = 'inset 0px -40px 49px -34px rgba(0,0,0,0.52)';
            document.getElementById('rede').style.boxShadow = 'none';
            

        }

        if(id == 2){
            document.getElementById('ddos').style.boxShadow = 'none';
            document.getElementById('rede').style.boxShadow = 'inset 0px -40px 49px -34px rgba(0,0,0,0.52)';

        }

    }
</script>
{% endblock %}