{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">
    <script src="https://kit.fontawesome.com/492e9335be.js" crossorigin="anonymous"></script>
    
    <title>Painel Admin</title>
</head>
<body>

    <div class="navbar">
        <nav>
            <a href="">teste</a>
            <a href="">teste</a>
            <a href="">teste</a>
        </nav>
    </div>

    {% if message %}
        {% for msg in message %}
            <div class="message">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}

    <div class="painel">
        <form action="" method="get">
            <label for="search">Buscar:</label>
            <input type="text" id="search" class="search">
            <button type="submit">Ok</button>
        </form>
        <form action="" method="post" id="newRegister">
            {% csrf_token %}
            <table id="table">
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Valor R$</th>
                    <th>Adicionado por</th>
                    <th></th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.description}}</td>
                        <td>10,00</td>
                        <td>{{product.users.email}}</td>
                        <td><button class="btn"><i class="fa-solid fa-trash"></i></button><button class="btn"><i class="fa-solid fa-pen-to-square"></i></button></td>
                    </tr>
                {% endfor %}
            </table>
        </form>
        <button type="button" id="add" onclick="newLine()" class="btn"><i class="fa-regular fa-square-plus"></i> Adicionar Registro</button>
    </div>
</body>

<script>
    function newLine(){
        // Find a <table> element with id="myTable":
        var table = document.getElementById("table");

        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow(1);
        
        //get last id to increment
        var x = document.getElementById("table").rows.length;
        var last_row = document.getElementById("table").rows[(x-1)];
        var last_id = last_row.querySelector("td:nth-child(1)").innerHTML;

        //block button add to add one per time
        var add_button = document.getElementById('add').disabled = true;
        var add_button_cursor = document.getElementById('add').style.cursor = "no-drop";


        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);

        // Add some text to the new cells:
        cell1.innerHTML = "" + (parseInt(last_id)  + 1);
        cell2.innerHTML = "<input type='text' id='search' class='search' name='title'>";
        cell3.innerHTML = "<input type='text' id='search' class='search' name='desc'>";
        cell4.innerHTML = "<input type='number' id='search' class='search' name='value'>";
        cell5.innerHTML = "<input type='text' id='search' class='search' value='{{request.user.username}}' name='by' disabled='disabled'>";
        cell6.innerHTML = "<button onclick='submitForm()' class='btn'><i class='fa-regular fa-square-plus'></i></button>";

        console.log(last_row);
        console.log(last_id);
    }

    function submitForm(){

        var form = document.getElementById('newRegister').submit();
    }

</script>
</html>