{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">
    <title>Painel Admin</title>
</head>
<body>

    <div class="navbar">
        <nav>
            <a href="">teste</a>
            <a href="">teste</a>
            <a href="">teste</a>
        </nav>
    </div>


    <div class="painel">
        <form action="" method="get">
            <label for="search">Buscar:</label>
            <input type="text" id="search" class="search">
            <button type="submit">Ok</button>
        </form>
        <table id="table">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Valor R$</th>
                <th>Adicionado por</th>
                <th></th>
            </tr>
            <tr>
                <td>2</td>
                <td>Produto 2</td>
                <td>Descrição do produto 2</td>
                <td>10,00</td>
                <td>Lucca</td>
                <td><button>D</button><button>E</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Produto 1</td>
                <td>Descrição do produto 1</td>
                <td>20,00</td>
                <td>Lucca</td>
                <td><button>D</button><button>E</button></td>
            </tr>
        </table>
        <button onclick="newLine()">Adicionar</button>
    </div>
</body>

<script>
    function newLine(){
        // Find a <table> element with id="myTable":
        var table = document.getElementById("table");

        // Create an empty <tr> element and add it to the 1st position of the table:
        var row = table.insertRow(1);

        // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);

        // Add some text to the new cells:
        cell1.innerHTML = "3";
        cell2.innerHTML = "<input type='text' id='search' class='search'>";
        cell3.innerHTML = "<input type='text' id='search' class='search'>";
        cell4.innerHTML = "<input type='text' id='search' class='search'>";
        cell5.innerHTML = "<input type='text' id='search' class='search'>";
        cell6.innerHTML = "<button>A</button>";
    }

</script>
</html>