{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">
    <title>Painel Admin</title>
</head>
<body>

    <div class="navbar">
        <nav>
            <a href="">teste</a>
            <a href="">teste</a>
            <a href="">teste</a>
        </nav>
    </div>

    <div class="painel">
        <table>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Foda</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Brazil</td>
                <td>Francisco</td>
                <td>Mexico</td>
            </tr>

            <tr>
                <td>Mexico</td>
                <td>Mexico</td>
                <td>Mexico</td>
            </tr>
            
        </table>
    </div>
</body>
</html>